@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
</head>
<body>
    <section id="Trainers">
        <div class="page-header">
            <h1>
                Our Trainers</h1>
        </div>
        <table class="table table-striped">
            <tr>
                <th width="50">
                    Trainer
                </th>
                <th width="520">
                    Bio
                </th>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/AikensCody.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Cody Aikens</h3>
                    <h5>
                        Quicken Loans</h5>
                    BIO
                </td>
            </tr>
            <tr>
                <td>
                   <img src="../../Images/Trainers/SaladiakJohn.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Mike DeLuca</h3>
                    I am interested in both science and music and in a previous life was both a chemist
                    and a musician as I played in a band to earn money to get through school where I
                    was studying to become a chemist. I still enjoy playing the piano. My interest in
                    computers stemmed from my senior research project where the computer was used to
                    simulate the dynamics of molecular collisions. Favorite Book: Huckleberry Finn Favorite
                    Author(s) : Mark Twain, Ernest Hemingway and Jack London Favorite Band(s) : The
                    Beatles and Death Cab For Cutie
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/FairJohn.png" alt="John Fair" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        John Fair</h3>
                    <h5>
                        Quicken Loans</h5>
                    John is a senior software engineer with Quicken Loans. John has been a developing
                    web solutions for a decade for companies like Wells Fargo, EDS/HP, and Quicken Loans.
                    He enjoys functional programming, web development, and long talks about photography.
                    You can find him on Twitter (johnbfair) and his personal site http://www.johnbfair.com.
                    <ul>
                        <li>Favorite Author: David Mamet</li>
                        <li>Favorite Musician: Mumford & Sons</li>
                        <li>Favorite Quote: “Wise men talk because they have something to say; Fools, because
                            they have to say something” – Plato</li></ul>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/FisherTim.jpg" alt="Tim Fisher" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Tim Fisher</h3>
                    <h5>
                        Compuware</h5>
                    BIO
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/FriesenBrian.jpg" alt="Brian Friesen" width="80"
                        height="80" />
                </td>
                <td>
                    <h3>
                        Brian Friesen</h3>
                    <h5>
                        Quicken Loans</h5>
                    Brian Friesen has been pretending to be a developer for the last 6 years and lives
                    in constant fear of being found out. As an occasional public speaker, he prefers
                    to talk about things that are slightly out in left field. This explains why some
                    people know him as "the regex guy" or "the monad guy". Seriously, who want to have
                    those titles? Anyway, when he's not writing code, he's probably thinking about it,
                    or, if he's sleeping, dreaming about it. In the rare case that no part of his mind
                    is occupied by something vaguely code-related, he is probably playing with his kids
                    or spending quality time with his wife near Detroit, where he has lived since April
                    2012, when he took a job with the best company he has ever worked for, Quicken Loans.
                    He is also a raging smart-alec.
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/HallendyChris.png" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Chris Hallendy</h3>
                    <h5>
                        Compuware</h5>
                    Chris Hallendy BIO
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/dhuston2.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        DaShaun Huston</h3>
                    <h5>
                        Quicken Loans</h5>
                    DaShaun has over 18 years of IT industry experience. Throughout his career, he has
                    held various positions ranging from Project Manager, Business Analyst, Lead Application
                    Developer and Developer with multiple Fortune 500 Information Technology Companies.
                    He has a wide range of knowledge in various business domains, including but not
                    limited to: Publishing, Supply Chain, Manufacturing, Human Resources, Marketing,
                    Finance, Foreign Trade, and Mortgage Lending. Currently, DaShaun works at Quicken
                    Loans as a Project Manager and instructs the non-technical IT in the D students.
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/KwiotekIan.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Ian Kwiotek</h3>
                    <h5>
                        Quicken Loans</h5>
                    As a former IT in the D student, and current Quicken Loans intern, I have seen firsthand
                    how embracing technology to streamline a process allows for exponential growth.
                    It is my goal to use the power of software to solve the inefficiencies of our lives
                    and one day launch the city of Detroit into the world’s leading IT powerhouse. 1%
                    idea, 99% execution!
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/LouAda.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Ada Luo</h3>
                    <h5>
                        Quicken Loans</h5>
                    Ada is fluent at languages.<br />
                    She speaks Mandarin, Cantonese, English, vb, js, sql, html, progress to name the few. But if you want to make her very happy - talk to her in c#.<br />
                    She might even write a test case - just for you. If you are up for a challenge contact her at: <a href="http://www.linkedin.com/in/adaluo">www.linkedin.com/in/adaluo</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/MiticVlad.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Vladimir Mitic</h3>
                    <h5>
                        Marketing Associates</h5>
                    Vladimir Mitic is a Developer<br />
Vlad developed into an adult from a fetus. He trully enjoyed the process and decided to dedicate his life to be a developer.<br />
Other than developing loving relation with his wife and 2 kids - he loves developing games, web and mobile apps.<br />
He is obsessed with development and love to share his enthusiasm with other people. If you like to develop friendship with Vlad please find him on: <a href="http://www.linkedin.com/in/vladimirmitic">www.linkedin.com/in/vladimirmitic</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/PanditMridula2.jpg" alt="Cody Aikens" width="80"
                        height="80" />
                </td>
                <td>
                    <h3>
                        Mridula Pandit</h3>
                    <h5>
                        Quicken Loans</h5>
                    Education: Graduating from University of Michigan in Dec 15th, 2012 with M.S. in
                    Computer Science. Yep!! I am excited! (FOREVER…Go blue!) Current: Database Engineer,
                    Quicken Loans and I love it here it’s so bright and fun! Technologies I am familiar
                    with: (nopes I am not an expert) Software engineering- agile Development, Programming:
                    C# and . Net , Wpf , XAML, Unix shell Scripting, SQL, Content management: Joomla,
                    ERP: SAP R3
                    <ul>
                        <li>Favorite Book : The Google story</li>
                        <li>Favorite Musician / Artist : Linkin Park, Rihanna </li>
                        <li>Favorite Quote / Saying are : “Anyone who has never made a mistake has never tried
                            anything new"- Albert Einstein and "The important thing is not to stop questioning.
                            Curiosity has its own reason for existing." - Albert Einstein </li>
                        <li>Other interests: I am a hard core gamer loves Halo, NFS, Counter Strike, Magic.
                            I also love to travel have visited over 22 countries in 3 major continents: Asia,
                            Europe and America. I also enjoy spending time with my family and friends. My idea
                            of relaxation is trying something new which can be useful for your entire lifetime.
                            I like spending time solving math problems related to partial differential equations,
                            solving Sudoku or understanding complexity of algorithms.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/PavlakMike.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Mike Pavlak</h3>
                    <h5>
                        Title Source</h5>
                    Mike Pavlakt BIO
                </td>
            </tr>
            <tr>
                <td>
                    John Saladiak
                </td>
                <td>
                    <h3>
                        John Saladiak</h3>
                    <h5>
                        GalaxE Solutions</h5>
                    John Saladiak –currently work at GalaxE Solutions Inc as a developer. I have been
                    in IT for 30 plus years. My background is in the Mainframe and AS400 platforms.
                    Over the years, I have held various positions including programmer, analyst, application
                    analyst, senior application analyst and business analyst. I have worked in such
                    areas as banking, public utilities, manufacturing, retail, supply chain, and accounting.
                    One of my favorite authors are Robert Ludlum. I enjoy a wide variety of music so
                    it is difficult to pick a favorite musician/artist.
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/StennisShayla.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Shayla Stennis</h3>
                    <h5>
                        Quicken Loans</h5>
                    As a Business Consultant at Quicken Loans, Shayla us helping breed innovation and
                    cultivate success. With over 10 years in the Automotive industry, serving as a Project
                    Manager, Operations Manager, and Expatriate Leader Shayla believes in living the
                    dream! In her spare time Shayla is a dedicated wife, community supporter and Big
                    Sister. She enjoys spending time with her family, reading, networking, journaling,
                    learning new thing, sharing knowledge, and relaxing.
                    <ul>
                        <li>Favorite Book: “The Shack” by William Paul Young</li>
                        <li>Favorite Musician / Band: Frankie Beverly and Maze ? </li>
                        <li>Favorite Quote / Saying: “You have to be moved, to be placed!” </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/WalkerAndrea.jpg" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Andrea Walker</h3>
                    <h5>
                        Compuware</h5>
                    Andrea Walker BIO
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../Images/Trainers/WalkerSonya.png" alt="Cody Aikens" width="80" height="80" />
                </td>
                <td>
                    <h3>
                        Sonya Walker</h3>
                    <h5>
                        Quicken Loans</h5>
                    Sonya Walker has 20 plus years in the Information Technology industry. Throughout
                    her career she has held an array of positions such as Project Manager, Sr. Implementation
                    Manager, Sr. Business Analyst, Systems Analyst, and Mortgage Loan Processor with
                    multiple Fortune 500 companies. Currently, Sonya works with Quicken Loans as a Business
                    Analyst. She enjoys spending time with her family, fishing, riding motorcycles (e.g.,
                    Harley-Davidson), entertaining my bird, listening to music, learning new thing,
                    sharing knowledge, and relaxing.
                    <ul>
                        <li>Favorite Book is the Bible</li>
                        <li>Favorite Musician / Artist is J. Moss</li>
                        <li>Favorite Quote / Saying is “Simplicity is genius”</li></ul>
                </td>
            </tr>
        </table>
</body>
</html>
