@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
 
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    
</head>


<table border="1">
<tr>
<td><h2>Trainers</h2></td>
</tr>
<tr>
<td>Vlad Picture</td>
<td><h3>Vlad Mitic</h3>Vlad BIO</td>
</tr>
<tr>
<td>Mike Deluca Picture</td>
<td><h3>Mike Deluca</h3>Mike Deluca BIO</td>
</tr>
<tr>
<td>Brian Picture 2</td>
<td><h3>Brian Friesen</h3>Brian BIO</td>
</tr>
<tr>
<td>John Picture 2</td>
<td><h3>John Fair</h3>John BIO</td>
</tr>
<tr>
<td>Ada Picture 2</td>
<td><h3>Ada Luo</h3>Ada BIO</td>
</tr>
<tr>
<td>Mike pic</td>
<td><h3>Mike Pavlak</h3>Mike BIO</td>
</tr>
<tr>
<td>Sonya Picture</td>
<td><h3>Sonya Walker</h3>Sonya BIO</td>
</tr>
<tr>
<td>Ian Picture</td>
<td><h3>Ian Kwiotek</h3>Ian BIO</td>
</tr>
<tr>
<td> <img src="../../Images/Trainers/dhuston.jpg"align="left" /></td>
<td><h3>Dashaun Huston</h3>
<p>DaShaun has over 18 years of IT industry experience. Throughout his career, he has held various positions ranging from Project Manager, Business Analyst, Lead Application Developer and Developer with multiple Fortune 500 Information Technology Companies. He has a wide range of knowledge in various business domains, including but not limited to: Publishing, Supply Chain, Manufacturing, Human Resources, Marketing, Finance, Foreign Trade, and Mortgage Lending. Currently, Dashaun works at Quicken Loans as a Project Manager and instructs the non-technical IT in the D students.</p>
</td>
</tr>
<tr>
<td>Meridula Picture</td>
<td><h3>Meridula Pandit</h3>Meridula BIO</td>
</tr>
<tr>
<td>Tehron Picture 2</td>
<td><h3>Tehron Jones</h3>Tehron BIO</td>
</tr>



</table>





