@*<head>
    <title>jQuery UI Tabs - Default functionality</title>
    <link href="/resources/demos/style.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
</head>*@
<section id="About Us">
    <div class="page-header">
        <h1>About Us</h1>
    </div>
    <h3>Mission Statement</h3>
    <p>
        IT in the D is a nonprofit collaboration of technology leaders in Detroit that provides continued education and work experience
         for IT professionals as they advance their technology careers..
    </p>
    <ul>
        <li>IT in the D is a non-profit program that provides students with valuable real-world work experience, training, and
         coaching as they launch their technology careers in Detroit.  </li>
         <br />
        <li>Started by five downtown Detroit companies, each on a mission to determine why they were having trouble finding
         qualified candidates for their many job openings, IT in the D is a collaborative effort that aims to identify and
          fill the gaps between the local talent pool and current hiring needs.  </li>
    </ul>
    <h4>Program</h4>
    <ul>
        <li>IT in the D is a 10 week experiential learning program that consists of 40 students and 15 trainers, depending
         on project. The students and trainers are divided amongst two teams, with one focusing on open source technologies and
          the other focusing on proprietary technologies. Students will be placed on teams dependent upon the skill set/focus
           area they are most interested in pursuing. The program also offers trainers specializing in business analysis and
            project management. </li>
        <br />        
        <li>Throughout the program, students will be coached on how to articulate what they are learning, so they will be able
         to enter their job search prepared and armed with information. Towards the end of the program, a resume and interview
          training session, as well as mock interviews, will be conducted by the recruiting teams of all companies, the
           Workforce Intelligence Network and other local career organizations. </li>
        <br />       
        <li>At the end of the program, there will be a closing ceremony where students are able to show off all of their hard
         work. Certificates will be presented and students will be made aware of all the resources now available to them,
          having now completed the program. Our relationship with the students does not stop at the door! </li>
        <br />        
        <li>At the end of the program, there will be a Closing Ceremony where students can bring
            their family and friends to show off all of their hard work. Certificates will be
            presented and students will be made aware of all resources available to them, having
            completed the program. </li>
    </ul>
   @* <h4>
        Projects</h4>
    <ul>
        <li>o	Both IT in the D classes will be working on constructing a new IT in the D website using open source and
         proprietary technologies. The technologies include: .NET, HTML, Java, SQL, C# and Ruby on Rails. Students will be
          trained through hands on, experiential learning that mimics real life application. Students will work on teams with
           their peers to design, develop and implement their projects. </li>
        
        <li>At the end of the session, both teams will present their projects to the entire IT in the D program, including
         partnering companies, talent partners and local organizations. </li>
    </ul>*@

    <div class="well">
        <div class="row">
            <div class="span4">
                <h2>Prospects</h2>
                <p>
                    Thinking about applying to IT in the D to become a student? Watch a brief video
                    of why you should become part of the IT in the D community.
                </p><br>
                <p>
                    <a class="btn btn-info" href="#myModalProspects" data-toggle="modal"><i class="icon-exclamation-sign icon-white">
                    </i>View Prospects Video »</a>
                </p>
            </div>
            
            <!-- Modal for prospects-->
            <div id="myModalProspects" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true" style="width: 450px; height: 400px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×</button>
                    <h3 id="myModalLabel">
                        Prospects</h3>
                </div>
                <div class="modal-body youtube">
                    <p>
                        <iframe width="420" height="315" src="http://www.youtube.com/embed/JyHXeSM90Io" frameborder="0"
                            allowfullscreen></iframe>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close</button>
                </div>
            </div>

            <div class="span4">
                <h2>Educators</h2>
                <p>
                    Are you wondering what IT in the D can offer colleges or universities? Watch a brief
                    video of why you should become part of the IT in the D community.
                </p><br/>
                <p>
                    <a class="btn btn-info" href="#myModalEducators" data-toggle="modal"><i class="icon-exclamation-sign icon-white">
                    </i>View Educator Video »</a>
                </p>
            <!-- Modal for educators-->
                <div id="myModalEducators" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true" style="width: 450px; height: 400px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h3 id="myModalLabel">Educators</h3>
                    </div>
                      <div class="modal-body youtube">
                        <p>
                            <iframe width="420" height="315" src="http://www.youtube.com/embed/DwP7XwG_80M" frameborder="0" allowfullscreen></iframe>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                            Close</button>
                    </div>
                </div>               
            
            </div>
         
           <h2>Sponsors</h2>
                <p>
                    Are you wondering what IT in the D can offer your company? Watch a brief video of
                    why you should become part of the IT in the D community.
                </p><br />
                <p><a class="btn btn-info" href="#myModalSponsors" data-toggle="modal"><i class="icon-exclamation-sign icon-white">
                    </i>View Sponsors Video »</a>
                </p>
             <!-- Modal for sponsors-->
            <div id="myModalSponsors" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true" style="width: 450px; height: 400px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×</button>
                    <h3 id="myModalLabel">Sponsors</h3>
                </div>
                <div class="modal-body youtube">
                    <p>
                        <iframe width="420" height="315" src="http://www.youtube.com/embed/nHEZ3NX84ws" frameborder="0"
                            allowfullscreen align="middle"></iframe>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close</button>
                </div>
            </div>
            <div class="span3">
                
            </div>
        </div>
    </div>
</section>

                


            
