<head>
    <title>jQuery UI Tabs - Default functionality</title>
    <link href="/resources/demos/style.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
</head>
<section id="About Us">
    <div class="page-header">
        <h1>
            About Us</h1>
    </div>
    <body>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Students</a></li>
                <li><a href="#tabs-2">Educators</a></li>
                <li><a href="#tabs-3">IT Professionals</a></li>
            </ul>
            <div id="tabs-1">
                <!-- Button to trigger modal -->
                <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
                <!-- Modal -->
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true" style="width: 700px; height: 450px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h3 id="myModalLabel">
                            Modal header</h3>
                    </div>
                    <div class="modal-body youtube">
                        <p>
                            <iframe width="640" height="360" src="http://www.youtube.com/embed/LnTVGmNr-og" frameborder="0"
                                allowfullscreen></iframe>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                            Close</button>
                    </div>
                </div>
                <p>
                    <br />
                    Register here.</p>
            </div>
            <div id="tabs-2">
                <p>
                    <img src="../../Images/Carousel/Ford%20Mustang%201.jpg" class="EducatorImages" />
                    Vlad is the man.
                </p>
                <p>
                    <img src="../../Images/Carousel/Nissan%20GT-R%201.jpg" class="EducatorImages" />
                    John Fair is awesome.
                </p>
                <p>
                    <img src="../../Images/Carousel/Ford%20Shelby%20GT500%201.jpg" class="EducatorImages" />
                    DaShaun.
                </p>
            </div>
            <div id="tabs-3">
                <p>
                    Companies and picture go here.</p>
                <p>
                </p>
            </div>
        </div>
    </body>
</section>
</body> 