@*<head>
    <title>jQuery UI Tabs - Default functionality</title>
    <link href="/resources/demos/style.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
</head>*@
<section id="About Us">
    <div class="page-header">
        <h1>
            About Us</h1>
    </div>
    <!-- <b>Mission Statement</b><br /> -->
    <!-- IT in the D is a nonprofit collaboration of technology leaders in Detroit that provides continued education and work experience for IT professionals as they advance their technology careers. -->
    <h3>
        Mission Statement</h3>
    <p>
        IT in the D is a nonprofit collaboration of technology leaders in Detroit that provides
        continued education and work experience for IT professionals as they advance their
        technology careers.
    </p>
    <ul>
        <li>IT in the D is a non-profit program that provides students with valuable real-world
            work experience, training and job opportunities, as they launch their technology
            careers in Detroit. </li>
        <li>Started by five downtown Detroit companies, each on a mission to determine why they
            were having trouble finding qualified candidates for their many job openings, IT
            in the D is a collaborative effort that aims to identify and fill the gaps between
            the local talent pool and current hiring needs. </li>
    </ul>
    <h4>
        Program</h4>
    <ul>
        <li>IT in the D is a 10 week experiential learning program that consists of 40 students
            and 15 trainers, depending on project. The students and trainers are divided amongst
            two teams, with one focusing on open source technologies and the other focusing
            on proprietary technologies. Students will be placed on teams dependent upon the
            skill set/focus area they are most interested in pursuing. In addition to the technologies,
            the program also offers trainers specializing in business analysis and project management.
        </li>
        <li>Throughout the program, students will be advised how to articulate what they are
            learning, so to be able to market themselves properly to potential employers. Towards
            the end of the program, a resume and interview training session as well as mock
            interviews will be conducted by the recruiting teams of all companies, the Workforce
            Intelligence Network and other local career organizations. </li>
        <li>Students are required to commit to the full ten weeks, meeting twice a week for
            two hours at the offices of the downtown Detroit companies.</li>
        <li>At the end of the program, there will be a closing ceremony where students can bring
            their friends and family to show off all of their hard work. Certificates will be
            presented and students will be made aware of all resources available to them, having
            completed the program. </li>
    </ul>
   @* <h4>
        Projects</h4>
    <ul>
        <li>Both IT in the D classes will be working on constructing a new IT in the D website
            using open source and proprietary technologies. The technologies include: .NET,
            HTML, Java, SQL, C# and Ruby on Rails. Students will be trained through hands on,
            experiential learning that mimics real life application. Students will work on teams
            with their peers to design, develop and implement their projects. </li>
        <li>At the end of the session, both teams will present their projects to the entire
            IT in the D program, including partnering companies, talent partners and organizations.
        </li>
    </ul>*@
    <div class="well">
        <div class="row">
            <div class="span4">
                <h2>
                    Prospects</h2>
                <p>
                    Thinking about applying to IT in the D to become a student? Watch a brief video
                    of why you should become part of the IT in the D community.
                </p><br>
                <p>
                    <a class="btn btn-info" href="#myModalStudents" data-toggle="modal"><i class="icon-exclamation-sign icon-white">
                    </i>View Prospects Video »</a>
                </p>
            </div>
            <!-- Button to trigger modal -->
            <!-- Modal -->
            <div id="myModalStudents" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true" style="width: 450px; height: 400px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×</button>
                    <h3 id="myModalLabel">
                        Prospects</h3>
                </div>
                <div class="modal-body youtube">
                    <p>
                        <iframe width="420" height="315" src="http://www.youtube.com/embed/ZW2TBh2PFIo" frameborder="0"
                            allowfullscreen></iframe>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close</button>
                </div>
            </div>
            <div class="span4">
                <h2>
                    Educators</h2>
                <p>
                    Are you wondering what IT in the D can offer colleges or universities? Watch a brief
                    video of why you should become part of the IT in the D community.
                </p><br>
                <p>
                    <a class="btn btn-info" href="#myModalEducators" data-toggle="modal"><i class="icon-exclamation-sign icon-white">
                    </i>View Educator Video »</a>
                </p>
            </div>
            <div id="myModalSponsors" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true" style="width: 700px; height: 450px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×</button>
                    <h3 id="myModalLabel">
                        Sponsors</h3>
                </div>
                <div class="modal-body youtube">
                    <p>
                        <iframe width="420" height="315" src="http://www.youtube.com/embed/pN9FQM6FqAw" frameborder="0"
                            allowfullscreen align="middle"></iframe>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close</button>
                </div>
            </div>
            <div class="span3">
                <h2>
                    Sponsors</h2>
                <p>
                    Are you wondering what IT in the D can offer your company? Watch a brief video of
                    why you should become part of the IT in the D community.
                </p>
                <p>
                    <a class="btn btn-info" href="#myModalSponsors" data-toggle="modal"><i class="icon-exclamation-sign icon-white">
                    </i>View Sponsors Video »</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Button to trigger modal -->
@* <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
                <!-- Modal -->
                <div id="myModalEducators" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true" style="width: 700px; height: 450px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h3 id="myModalLabel">Educators</h3>
                    </div>
                      <div class="modal-body youtube">
                        <p>
                            <iframe width="420" height="315" src="http://www.youtube.com/embed/DwP7XwG_80M" frameborder="0" allowfullscreen></iframe>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                            Close</button>
                    </div>
                </div>

<!-- Button to trigger modal -->
               <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>*@
<!-- Modal -->
@* <li>Companies</li>
                <ul>
                <li>Compuware</li>
                        <ul>
                        <li>
                        For nearly 40 years, Compuware has delivered software, experts and best practices to make 
                        your applications work well and deliver business value. Our people and software ensure that 
                        critical technologies work like they should - all the time - for 7,100 customers around the 
                        globe. When technology performance really matters - and it matters now more than ever - 
                        organizations, including 46 of the top 50 Fortune 500 companies and 12 of the 20 most visited 
                        U.S. web sites, turn to Compuware.
                        </li>
                        </ul>
                </ul>
                <br>
                <ul>
                <li>Fathead</li>
                        <ul>
                        <li>
                        A short time ago, Fathead was a company with a handful of employees and a REAL.BIG. vision. 
                        Today, we're the leading brand in sports and entertainment wall graphics with thousands of 
                        officially licensed products! Our product line-up includes Fathead Tradeables, Fathead Jr., 
                        Fathead Skins and of course our Real.Big Fathead- the officially licensed, life-size, hi-def 
                        wall graphics of professional athletes, animated super heroes, entertainment figures, team 
                        helmets and logo... just to name a few.
                        </li>
                        </ul>
                </ul>
                <br>
                <ul>
                <li>GalaxE.Solutions</li>
                        <ul>
                        <li>
                        GalaxE.Solutions is a full service consulting firm focused on delivery excellence in the 
                        area of IT solutions across multiple technologies. GalaxE.Solutions is an industry leader 
                        in designing and deploying systems that enable agile business processes to allow clients 
                        to transact and share information across internal networks and the Internet, targeting 
                        business results, competitiveness, and efficiency.
                        </li>
                        <p>
                        "GalaxE.Solutions...with their Outsource to Detroit program... [is putting Americans] 
                        back to work." - President Barack Obama
                        </p>
                        </ul>
                </ul>
                <ul>
                <li>Marketing Associates</li>
                        <ul>
                        <li>
                        To be a flexible, responsive and proactive supplier of world-class sales and marketing 
                        initiatives with this ongoing commitment: There will be no compromise in service or 
                        quality for our customers.
                        </li>
                        </ul>
                </ul>
                <br>
                <ul>
                <li>Quicken Loans</li>
                        <ul>
                        <li>
                        Quicken Loans is one of the largest full-service residential mortgage lenders in the 
                        United States. We're America's #1 Online Mortgage Lender. We close loans in all 50 
                        states and have more than 20 years of experience in the industry.
                        </li>
                        <p>
                        It all started in June of 1985 with a simple concept that, even today, large mortgage 
                        companies just don't get. Guess what? Buying a house can be one of the most stressful, 
                        frightening, exhilarating, and exciting times in a person's life. Dan Gilbert, our Founder 
                        and Chairman, thought to himself, WE CAN DO IT BETTER THAN EVERYONE ELSE.
                        </p>
                        <p>
                        So we did.
                        </p>
                        </ul>
                </ul>
        </ul>*@ @*<div id="tabs">
            <ul>
                <li><a href="#tabs-1">Prospective Students</a></li>
                <li><a href="#tabs-2">Educators</a></li>
                <li><a href="#tabs-3">Corporate Sponsors</a></li>
            </ul>
            <div id="tabs-1">
                <!-- Button to trigger modal -->
                <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
                <!-- Modal -->
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true" style="width: 700px; height: 450px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h3 id="myModalLabel">
                            Modal header</h3>
                    </div>
                    <div class="modal-body youtube">
                        <p>
                            <iframe width="640" height="360" src="http://www.youtube.com/embed/LnTVGmNr-og" frameborder="0"
                                allowfullscreen></iframe>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                            Close</button>
                    </div>
                </div>
                <p>
                    <br />
                     @Html.ActionLink("Register", "Register", "Account")
            </div>
            <div id="tabs-2">
                <p>
                    <img src="../../Images/Carousel/Ford%20Mustang%201.jpg" class="img-polaroid" />
                    Vlad is the man!
                </p>
                <p>
                    <img src="../../Images/Carousel/Nissan%20GT-R%201.jpg" class="img-polaroid" />
                    John Fair is awesome.
                </p>
                <p>
                    <img src="../../Images/Carousel/Ford%20Shelby%20GT500%201.jpg" class="img-polaroid" />
                    DaShaun rocks.
                </p>
            </div>
            <div id="tabs-3">
                <p>
                    Companies and picture go here.</p>
                <p>
                </p>
            </div>
        </div>
            </section>
</body> *@