@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8" />
    <title>jQuery UI Accordion - Default functionality</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
</head>
<body>
    <section id="Academic Information">
        <div class="page-header">
            <h1>
                IT in the D Alumni</h1>
        </div>
        <h3>@TempData["Message"]</h3>
        @if (User.IsInRole("Student"))
        {
            ITinTheDWebSite.Models.ProspectModel prospect = new ITinTheDWebSite.Models.ProspectModel();

            if (ITinTheDWebSite.Helpers.DatabaseHelper.GetProspectData(prospect, WebSecurity.GetUserId(User.Identity.Name)).AccountStatus == 4)
            {
                <p align="center">
                    @Html.Partial("../Account/DisplayProspectPage", prospect)
                </p>
            }
        }
        <div id="accordion">
            <h3>IT in the D Alumni Resources</h3>
            <div>
                <p>IT in the D is committed to the ongoing success of its students. We encourage all graduates to network with 
                the trainers, administration and students of their session. In order to keep in touch, IT in the D has created a 
                LinkedIn page dedicated solely to those who have participated in the program. </p>

                <p>We have also put together resources to assist you with writing a resume and interviewing, as well as provide 
                you with a direct contact at one of our career service partners, Workforce Intelligence Network (WIN)</p>
                <br />

                <p><u>Interview and Resume Tips</u></p>
                <ul>
                    <li>Coming Soon!</li>
                </ul>
                <br />
                                
                <p><u>Workforce Intelligence Network</u>
                <br>Kathleen Molesa
                <br>Program Coordinator – Troy Michigan Works
                <br>248.823.5117
                <br><a href="mailto:Kmolesa2@troy.k12.mi.us">Kmolesa2@troy.k12.mi.us</a>
                </p>
                <br />

            </div>

            @{
                using (ITinTheDWebSite.ITintheDTestTableEntities context = new ITinTheDWebSite.ITintheDTestTableEntities())
                {
                    foreach (var ProspectiveStudentData in context.ProspectiveStudent)
                    {
                        if (ProspectiveStudentData.Status == 4)
                        {
                            if (ProspectiveStudentData.ProspectiveStudentTextField != null && ProspectiveStudentData.ProspectiveStudentTextField != "")
                            {
                                <h3>
                                    @ProspectiveStudentData.Name</h3>
                                <div>
                                    @ProspectiveStudentData.ProspectiveStudentTextField
                                    <br />
                                    @if (ProspectiveStudentData.ImageUploaded == "Yes")
                                    {
                                        <p align="center">
                                            <img src="/GetFileImage.ashx?id=@ProspectiveStudentData.UserId" / style="width: 128px; height: 128px;">
                                        </p>
                                    }
                                </div>
                            }
                        }
                    }
                }
            }       
        </div>
</body>