@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta charset="utf-8" /> 
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    
</head>
<body>
<section id="Curriculum">
    <div class="page-header">
        <h1>Curriculum</h1>
    </div>

<table class="table table-bordered">
  <tr>
    <th width="143">Date</th>
    <th width="108">Workshop</th>
    <th width="83">Sessions</th>
    <th width="527">Topics Covered/Additional Info</th>
  </tr>
  <tr>
    <td>10/18/2012</td>
    <td>Open Ceremony</td>
    <td>1 session</td>
    <td>Introduction to “IT in the D” partners, professionalism and 
     best practices.<br />
        Program vision and focus <br />
    What IT means in different companies Create badge, take picture, parking instruction.</p></td>
  </tr>
<tr>
    <td>10/23/2012 3 - 5pm</td>
    <td>Project Scope</td>
    <td>1 Session</td>
    <td>Workplace expectations<br/>
    Login account set up and testing<br/>
    Source Control<br/>
    .Net environment<br/>
    SQL environment<br/>
    BA project expectations<br/>
    PMO describe Agile process<br/>
    Lab hour<br/>
    QA process, push-to-prod, prioritization, task breakdown and assignment, project teams<br/> </td>
<tr>
    <td>10/25/2012 3 - 5pm</td>
    <td>In The Workplace</td>
    <td>1 Session</td>
    <td>Discussion of the complexities of servers in the real environment. Front page design, web traffic handle, middle tier architecture, Database and data Analysis as well</td>
</tr>
<tr>
    <td>10/30/2012 3 - 5pm<br/>
    11/01/2012 3 - 5pm<br/>
    11/06/2012 3 - 5pm<br/>
    11/08/2012 3 - 5pm<br/></td>
    <td>Workshop</td>
    <td>4 Sessions</td>
    <td>Students will work with mentors in one of the following areas:  SQL, .NET, <br/>Ruby on Rails etc. For SQL, review of environments, indexing, and query performance, builds ETL, store procedure creation and tuning. Best practices in SQL. Etc.,</td>
</tr>
<tr>
    <td>11/13/2012 3 - 5pm<br/>
    11/15/2012 3 - 5pm</td>
    <td>Project</br>Kick off</td>
    <td>2 Sessions</td>
    <td>Teams Assigned, project specs formally introduced, mentor roles defined</td>
</tr>
<tr>
<td>11/20/2012 3 - 5pm<br/>
    11/27/2012 3 - 5pm<br/>
    11/29/2012 3 - 5pm<br/>
    12/04/2012 3 - 5pm<br/>
    12/06/2012 3 - 5pm<br/>
    12/11/2012 3 - 5pm<br/>
    12/13/2012 3 - 5pm<br/>
    12/18/2012 3 – 5pm<br/>
    12/20/2012 3 - 5pm<br/>
    01/08/2013 3 - 5pm<br/>
    01/10/2013 3 - 5pm<br/></td>
    <td>Project Workshops</td>
    <td>11 Sessions</td>
    <td>Project Teams will work in mentored iterations of project design. Teams will have <br/>required specs, and completion of the project in timely fashion will be basis for evaluation. Teams that complete initial requirements early will be given opportunities to further develop their project.  </td>
</tr>
<tr>
    <td>01/15/2013 3 - 5pm</td>
    <td>Project Presentations<br/>Prepare/feedback</td>
    <td>1 Session</td>
    <td>Teams will present their results, final test and modify front page design and make up.<br/> Trainers feedback provided</td>
</tr>
<tr>
    <td>01/17/2012</td>
    <td>Close Ceremony</td>
    <td>1 Session</td>
    <td>Project Presentation<br/>
    Winner team Award</td>
</tr>
</table> 
<a class="btn btn-info" href="../../Content/documents/Workshop_Outline.docx"><i class="icon-exclamation-sign icon-white"></i> Download Curriculum</a>
</body>
</html>