@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="Resume/Addfile" enctype="multipart/form-data" method="post">
 <div>
        <fieldset>
            <legend>Upload File</legend>              
                <br /><br />
                <input type="file" name="UploadFile" /><br /><br />
                <input type="submit" value"Save" /><br />
                <br />
        </fieldset>
</div>
</form>