

<h2>Up Coming events</h2>


<div id="carousel">
<ul>
    <li>CASPER, Wyo. (AP) — Police released more details Saturday of a grisly murder-suicide at a Wyoming community college,<br/>
     saying a man shot his father in the head with a bow and arrow in front of a computer science class not long after fatally<br/>
      stabbing his father's live-in girlfriend at their home a couple of miles away <a href="http://www.yahoo.com">Read More</a> <br/></li>
    <li>ASPER, Wyo. (AP) — Police released more details Saturday of a grisly murder-suicide at a Wyoming community college,<br/>
     saying a man shot his father in the head with a bow and arrow in front of a computer science class not long after fatally<br/>
      stabbing his father's live-in girlfriend at their home a couple of miles away <a href="http://www.yahoo.com">Read More</a> <br/></li>
    <li>ASPER, Wyo. (AP) — Police released more details Saturday of a grisly murder-suicide at a Wyoming community college,<br/>
     saying a man shot his father in the head with a bow and arrow in front of a computer science class not long after fatally<br/>
      stabbing his father's live-in girlfriend at their home a couple of miles away <a href="http://www.yahoo.com">Read More</a> <br/></li>
    <li>ASPER, Wyo. (AP) — Police released more details Saturday of a grisly murder-suicide at a Wyoming community college,<br/>
     saying a man shot his father in the head with a bow and arrow in front of a computer science class not long after fatally<br/>
      stabbing his father's live-in girlfriend at their home a couple of miles away <a href="http://www.yahoo.com">Read More</a> <br/></li>
</ul>
</div



   
      

