
@model IEnumerable<ITinTheDWebSite.Models.Rss>
@{
ViewBag.Title = "Events";
}
 
<h2>Technology Events Happening in Metro Detroit </h2>

<table>
<tr>
<th>
   Headline
</th>
<th>
   Description
</th>
<th>
   Link
</th>
</tr>
 
@foreach (var item in Model) {
<tr>
<td>
   <a href="@item.Link" target="_blank">@Html.Encode(item.Title)</a>
</td>
<td>
  @System.Web.HttpUtility.HtmlDecode(item.Description)
</td>
<td>
   <a href="@item.Link" target="_blank">More</a>
</td>
</tr>
}
</table>