
@model IEnumerable<ITinTheDWebSite.Models.Rss>
@{
ViewBag.Title = "Events";
}
 <html>
 <head>

 </head>
 <body>
<section id="Technology Events">
    <div class="page-header">
        <h1>Technology Events in Metro Detroit</h1>
    </div>

<table class="table table-striped">
<tr>
<th width="150">
   Event Link
</th>
<th width="300">
   Details
</th>
</tr> 
@foreach (var item in Model) {

<tr>
<td>
   <a href="@item.Link" target="_blank"><font color="#848484">@Html.Encode(item.Title)</font></a>
   
</td>
<td>
  @System.Web.HttpUtility.HtmlDecode(item.Description)
  <a href="@item.Link" target="_blank"><font color="#848484">Read More...<font color="#848484"></a>
</td>
</tr>   
    
    
}
</table>
</body>
</html>