<head>
    <meta charset="utf-8" />
    <title>jQuery UI Accordion - Default functionality</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
</head>
<body>
 
<div id="accordion">

    <h3>Quicken Loan</h3>
    <div>
        <p>Quicken Loans Inc., previously Rock Financial Corp., was founded in 1985 by Dan Gilbert</br>
        In October 1997, Rock Financial became affiliated with title insurance company, Title Source Inc., to help support its residential lending business.</br>
        In May 1998, Gilbert took Rock Financial public, launching a successful IPO underwritten by Bear Stearns, Inc. and Prudential Securities.</br>
         <img src="../../Images/Carousel/QLogo.jpg" />
        </p>
    </div>
    <h3>Compuware</h3>
    <div>
        <p>
        New technologies offer incredible potential: revenue growth, improved customer satisfaction and stronger brand image. However, these</br>
        innovations can also make technology environments more complex.</ br>
        To reach its full potential, technology must be easy to use. And it must perform.</br>
        For nearly 40 years, Compuware has delivered software, experts and best practices to make your applications work well and deliver business</br>
        value. Our people and software ensure that critical technologies work like they should — all the time — for 7,100 customers around the globe</br>
        When technology performance really matters — and it matters now more than ever — organizations, including 46 of the top 50 Fortune 500</br>
            <img src="../../Images/Carousel/220px-CompuwareLogo.png" />
        </p>
    </div>
    <h3>FathHead</h3>
    <div>
        <p>
            <img src="../../Images/Carousel/Fathead_MLB_RealBIG_240512044035.jpg" />
        </p>
       
    </div>
    <h3>Who is next ?</h3>
    <div>
        <p>
       
        </p>
    </div>
</div>
 
 
</body>