<head>
    <title>jQuery UI Tabs - Default functionality</title>
    <link href="/resources/demos/style.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
</head>
<section id="About Us">
    <div class="page-header">
        <h1>FAQ's</h1>
    </div>

    <body>
    <u>General Questions</u>
    <ul>
        <li><strong>What is IT in the D and what is it trying to accomplish?</strong><br>
        IT in the D is a training program, created by four downtown Detroit based companies, in an effort to bridge the gap 
        between what the schools are teaching at local colleges and universities, and current hiring needs. </li>
        <li><strong>Who are the partnering companies?</strong><br>
        Currently, the partnering companies are Compuware, Fathead, GalaxE.Solutions, Marketing Associates and Quicken Loans. </li>
        <li><strong>Is IT in the D non-profit?</strong><br>
        IT in the D is currently funded solely by the partnering companies. </li>
        <li><strong>Who are the students?</strong><br>
        IT in the D has a very diverse student population. They range from young adults in their last year of college, to 
        established professionals looking to refine or expand their technical skills. </li>
        <li><strong>Where does IT in the D meet?</strong><br>
        It in the D meets in downtown Detroit, primarily in the Compuware building, located across from Campus Martius. </li>
        <li><strong>When was IT in the D established?</strong><br>
        IT in the D was established in April 2012.</li>
        <li><strong>Is IT in the D an internship program?</strong><br>
        No, IT in the D is not an internship program. Students will receive valuable training related to their particular IT 
        path of interest, which mimics real-world application and implementation.</li>
    </ul><br>
    <u>Potential Students</u>
    <ul>
        <li><strong>How do I get involved?</strong><br>
        IT in the D has a substantial academic partner list. Please refer to list and contact your school’s faculty member or 
        administrator for details on how to get involved. If you’re school is not one of the schools listed, please have a school 
        representative contact <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a>. If you are not connected 
        to a college or university, please contact <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a>. </li>
        <li><strong>Does it cost anything to be a part of IT in the D?</strong><br>
        No. IT in the D is completely free to those involved. </li>
        <li><strong>How long is an IT in the D session?</strong><br>
        An IT in the D session runs roughly 10 weeks. </li>
        <li><strong>Does IT in the D provide college credit?</strong><br>
        Currently, IT in the D has not established college credit with its academic partners; however, this is something that we 
        are working on.</li>
        <li><strong>What is the time commitment for students?</strong><br>
        Students are required to commit two hours, twice a week for ten weeks; however, a lot of students are so passionate and 
        excited about their work, that they have taken it upon themselves to meet after hours. </li>
        <li><strong>What do students get from participating in IT in the D?</strong><br>
        Students who complete the program will receive a certificate of completion signed by the executives of each participating 
        company. Students will also get resume and interview training, as well as contacts within the partnering companies and 
        our partner WIN, to assist with job placement. </li>
        <li><strong>What are the technologies taught?</strong><br>
        Our fall 2012 session will have trainers with the following skill sets: .NET, Java, HTML, Sequel, C#, and Ruby on Rails, 
        as well as Database Analysts, Business Analysts, and Project Managers.  </li>
        <li><strong>Will IT in the D guarantee me a job?</strong><br>
        While IT in the D does its best to prepare its students for the “real world”, it does not guarantee employment. That 
        being said, many IT in the D students have shown the skills, passion and aptitude to receive employment offers from the 
        partnering companies. </li>
    </ul><br>
    <u>Potential Academic or Corporate Partners</u>
    <ul>
        <li><strong>Who can I contact to partner with IT in the D?</strong><br>
        Please contact <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a>. </li>
    </ul><br>
    <u>Media</u>
    <ul>
        <li><strong>Who can I contact for questions relating to the IT in the D program?</strong><br>
        Please contact <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a>. </li>
    </ul><br>
    <u>Current Students</u>
    <ul>
        <li><strong>What are the meeting dates/times for the fall 2012 session?</strong><br>
        Classes will meet every Tuesday and Thursday from 3-5pm, excluding holidays, unless otherwise communicated in advance. </li>
        <li><strong>When does the fall 2012 session start and end?</strong><br>
        The session will begin on 10/23/12 and end 1/17/12.</li>
        <li><strong>How can I contact my trainers?</strong><br>
        The Operations Team will provide you with a document at the start of the session with all contact information. If you 
        cannot find this document, please email <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a>. </i>
        <li><strong>Where do I park?</strong><br>
        Please park at the Compuware parking structure, entering the parking deck from Farmer Street. Access to the office tower 
        is at ground level, directly across Farmer Street. Parking is validated for all students. </li>
        <li><strong>What is Compuware’s address?</strong><br>
        One Campus Martius Detroit, MI 48226.</li>
        <li><strong>What is IT in the D’s attendance policy?</strong><br>
        Please email <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a> for the attendance policy. </li>
        <li><strong>Do we have class on holidays?</strong><br>
        No. If you come to class on a holiday, there will be nobody there to let you in, as we will all be celebrating with our 
        families, too!</li>
        <li><strong>Can I bring someone with me to class?</strong><br>
        Unfortunately, students are not allowed to bring family and/or friends to class time, however, there will be an 
        opportunity at the end of the session to bring friends and/or family to your graduation so they can see the great work 
        you have accomplished. </li>
        <li><strong>I have a friend who wants to get involved; who can I direct them to?</strong><br>
        Please direct them to <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a>. </li>
        <li><strong>Where can I go to get help with my resume?</strong><br>
        Please contact ITintheD@ITinDetroit.com and they will assist you in directing you to most appropriate 
        resource, or register here online at out site.</li>
        <li><strong>What happens when I graduate from IT in the D?</strong></li>
        Our commitment to our students does not stop at the door. Once you have graduated, please feel free to reach out to 
        trainers and administration on LinkedIn. Most importantly, IT in the D will put you in direct contact with its partnering 
        organization, WIN, to assist you with any questions relating to resumes, interviewing or job hunting. </li>
        <li><strong>Can I switch teams?</strong><br>
        Please contact <a href="mailto:ITintheD@ITinDetroit.com">ITintheD@ITinDetroit.com</a> and your trainer to assist you with 
        this request. </li>
    </ul>
    
    </body>