@{
    ViewBag.Title = "DisplayPrivacy";
}
<head>
    <title>jQuery UI Tabs - Default functionality</title>
    <link href="/resources/demos/style.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
</head>
<section id="About Us">
    <div class="page-header">
        <h1>
            Privacy Policy</h1>
    </div>
    <body>
        <ul>
            <p>
                Your privacy is very important to us. Accordingly, we have developed this Policy
                in order for you to understand how we collect, use, communicate and disclose and
                make use of personal information. The following outlines our privacy policy.</p>
            <br />
            <li><strong>Before or at the time of collecting personal information, we will identify
                the purposes for which information is being collected.</strong> </li>
            <li><strong>We will collect and use of personal information solely with the objective
                of fulfilling those purposes specified by us and for other compatible purposes,
                unless we obtain the consent of the individual concerned or as required by law.</strong></li>
            <li><strong>We will only retain personal information as long as necessary for the fulfillment
                of those purposes.</strong></li>
            <li><strong>We will collect personal information by lawful and fair means and, where
                appropriate, with the knowledge or consent of the individual concerned.</strong></li>
            <li><strong>Personal data should be relevant to the purposes for which it is to be used,
                and, to the extent necessary for those purposes, should be accurate, complete, and
                up-to-date.</strong></li>
            <li><strong>We will protect personal information by reasonable security safeguards against
                loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</strong></li>
            <li><strong>We will make readily available to customers information about our policies
                and practices relating to the management of personal information.</strong></li>
            <li><strong>I have a friend who wants to get involved; who can I direct them to? </strong>
                <br />
                <br />
                <p>
                    We are committed to conducting our business in accordance with these principles
                    in order to ensure that the confidentiality of personal information is protected
                    and maintained.</p>
        </ul>
    </body>
