@{
    ViewBag.Title = "Index";
}
   <!-- Carousel
    ================================================== -->
    <h2 class="featurette-heading">WELCOME to IT in the D. <span class="muted">It'll blow your mind.</span></h2>
    <div id="myCarousel" class="carousel slide span8 offset2">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../../Images/Carousel/OutsourceDetroit2.jpg" alt="" />
          <div class="container">
            <div class="carousel-caption">
              @Html.ActionLink("Apply Now", "Register", "Account", null, new Dictionary<string, object> { {"class" , "btn btn-large btn-primary" }})
              @*@<a class="btn btn-large btn-primary" href="#">Sign up today</a>@*@
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../Images/Carousel/ITdGroup.jpg" alt="" />
          <div class="container">
            <div class="carousel-caption">
          
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../Images/Carousel/Quicken.jpg" alt="" />
          <div class="container">
            <div class="carousel-caption">
          
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
<!-- Headings & Paragraph Copy -->

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
        <h2>Turbo Veloster</h2>
          <img class="img-circle" src="">
          <p>Donec sed etur et.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="">
          <h2>Turbo Veloster</h2>
          <p>Duis msus.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="">
          <h2>Turbo Veloster</h2>
          <p>Donec sed odio dui. ermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2012 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div>
</section> 