@{
    ViewBag.Title = "Index";
}
<html>
<head>
<meta charset="utf-8" /> 
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    
</head>
<body>
<section id="News">
    <div class="page-header">
        <h1>In the News</h1>
    </div>

    <table class="table">
            <tr>
                <th width="50">Date</th>
                <th width="200">Headline</th>
                <th width="350">Details</th>
            </tr>
            <tr>
               <td>December 13, 2013</td>
               <td><a href="http://detroit.cbslocal.com/2012/12/13/it-in-the-d-gets-new-partners-extends-program/" target="_blank">IT In The D Gets New Partners, Extends Program</a></td>
               <td>DETROIT — The founders of the IT in the D tech training program have formalized their commitment to the program and added a new partner with the signing of a Memorandum of Understanding this week at the Chase 
            Tower in Detroit.<a href="http://detroit.cbslocal.com/2012/12/13/it-in-the-d-gets-new-partners-extends-program/" target="_blank">..Read more</a></td>
            </tr>
            <tr>
                <td>December 12, 2012 </td>
                <td><a href="http://www.mlive.com/business/detroit/index.ssf/2012/12/detroits_it_in_the_d_gets_long.html" target="_blank">Detroit's IT in the D Gets Long-term Commitment</a></td>
                <td>On Wednesday morning the founding companies if the program – Quicken Loans, Compuware,
                 GalaxE, Fathead and Marketing Associates -  are signing a Memorandum of Understanding with Workforce Intelligence 
                 Network (WIN) to formalize a commitment to the program.<a href="http://www.mlive.com/business/detroit/index.ssf/2012/12/detroits_it_in_the_d_gets_long.html" target="_blank">...Read more</a>
                </td>
            </tr>         
          <tr>
              <td>December 12, 2012</td>
              <td><a href="http://www.crainsdetroit.com/article/20121212/NEWS/121219950/it-in-the-d-to-start-pursuing-nonprofit-grants  " target="_blank">IT in the D to Start Pursuing Nonprofit Grants</a></td>
              <td>IT in the D on Wednesday entered into a formal partnership with the Workforce Intelligence Network that will let IT in the D pursue 501(c)(3) nonprofit funding opportunities and build its 
              programs. <a href="http://www.crainsdetroit.com/article/20121212/NEWS/121219950/it-in-the-d-to-start-pursuing-nonprofit-grants  " target="_blank">...Read more</a></td>
          </tr>
             <tr>
              <td>December 11, 2012</td>
              <td><a href="http://www.detroitnews.com/article/20121211/BIZ/212110419/1361/-IT-in-the-D--training-program-to-continue-another-year" target="_blank" >IT in the D Training Program to Continue Another Year</a></td>
              <td>The founders of an information technology training program will commit to the initiative for another year and will add another partner as
               demand for IT jobs continues to grow in Detroit.<a href="http://www.detroitnews.com/article/20121211/BIZ/212110419/1361/-IT-in-the-D--training-program-to-continue-another-year" target="_blank" >...Read more.</a></td>
          </tr>
          <tr>
              <td>August 28, 2012</td>
              <td><a href="http://www.modeldmedia.com/features/WIN812.aspx" target="_blank">First class: Creating jobs across Workforce Intelligence Network</a></td>
              <td>Prudence Byas spent 10 years working in IT, enjoying the tech world and everything it had to offer. She took a break from it a few years ago but realized she couldn't stay away. 
              So the middle-aged woman changed her career course slightly, going into software development and becoming one of the first members of the initial class
               of IT in the D.<a href="http://www.modeldmedia.com/features/WIN812.aspx" target="_blank">...Read more</a></td>
          </tr>  
            <tr>
              <td>August 28, 2012</td>
              <td><a href="http://www.huffingtonpost.com/2012/08/28/first-class-creating-jobs_n_1836313.html" target="_blank" >Detroit Tech Jobs Preparation Class IT In The D Prepares Students For Growing Field</a></td>
              <td>The initial class of Detroit's IT in the D, an intensive training program for IT and software development jobs, graduated its first 30 students in August.
               The organizers, local companies partnered with universities and colleges, plan to have another class in the fall. <a href="http://www.huffingtonpost.com/2012/08/28/first-class-creating-jobs_n_1836313.html" target="_blank" >...Read more</a></td>
          </tr>
          <tr>
              <td>August 28, 2012</td>
              <td><a href="http://old.detroitchamber.com/participation/detroiter-online/articles/24-your-say/5747-it-in-the-d-celebrates-the-conclusion-of-its-pilot-session-with-award-ceremony-and-student-presen" target="_blank">IT in the D Celebrates the Conclusion of its Pilot Session with Award Ceremony and Student Presentation</a></td>
              <td>GalaxE.Solutions, in partnering with IT companies Compuware Ventures, Quicken Loans, Fathead and Marketing Associates, Wayne County Community College, Washtenaw County Community College, Wayne State and the Workforce Intelligence Network, celebrated the first graduates of
               the T in the D pilot program last Thursday, August 23. Twenty-five students completed the inaugural program.<a href="http://old.detroitchamber.com/participation/detroiter-online/articles/24-your-say/5747-it-in-the-d-celebrates-the-conclusion-of-its-pilot-session-with-award-ceremony-and-student-presen" target="_blank">...Read more</a></td>
          </tr> 
           <tr>
              <td>August 28, 2012</td>
              <td><a href="http://detroit.cbslocal.com/2012/08/28/it-in-the-d-graduates-first-class" target="_blank">IT in the D Graduates First Class</a></td>
              <td>DETROIT — Last week, the first 25 participants in the 'IT in the D' pilot program officially graduated, after spending two and a half months gaining real-world IT experience and receiving 
              instruction from volunteer IT professionals at participating companies.<a href="http://detroit.cbslocal.com/2012/08/28/it-in-the-d-graduates-first-class" target="_blank">...Read more</a></td>
          </tr>   
          <tr>
              <td>June 26, 2012</td>
              <td><a href="http://www.xconomy.com/detroit/2012/06/26/top-detroit-tech-companies-launch-program-to-beef-up-talent" target="_blank">Top Detroit Tech Companies Launch Program to Beef Up Talent</a></td>
              <td>It’s a criticism that’s often heard in Michigan tech circles: The biggest challenge in growing the local IT sector is a glaring lack of talent. It’s not that we don’t produce people capable of filling the many open tech jobs here, it’s that we have a hard time
               keeping them in the state. A new program launched last week called IT in the D aims to reverse that trend.
             <a href="http://www.xconomy.com/detroit/2012/06/26/top-detroit-tech-companies-launch-program-to-beef-up-talent" target="_blank">...Read more.</td>
          </tr>
          <tr>
              <td>June 20, 2012</td>
              <td><a href="http://www.deadlinedetroit.com/articles/865/it_in_the_d_firms_colleges_prime_the_pump_for_tech_jobs" target="_blank">IT in the D Firms Colleges Prime the Pump for Tech Jobs</a></td>
              <td>Local IT companies and colleges are teaming up to find students for tech careers.

                Online home lender Quicken Loans Inc., Compuware Corp.'s venture capital firm, software and IT business support provider GalaxE.Solutions, 
                 licensed entertainment and sports graphic firm Fathead LLC and Marketing Associates are working with Wayne State University, Wayne County Community College District and Washtenaw Community College on IT in the D, a two-month program 
                to give students and IT professionals more experience to advance their technology careers.<a href="http://www.deadlinedetroit.com/articles/865/it_in_the_d_firms_colleges_prime_the_pump_for_tech_jobs" target="_blank">...Read more</a></td>
          </tr>
          <tr>
              <td>June 19, 2012</td>
              <td><a href="http://detroit.cbslocal.com/2012/06/19/new-partership-it-in-the-d-connects-tech-students-with-mentors/" target="_blank">New Partership, IT In The D, Connects Tech Students With Mentors</a></td>
              <td>DETROIT — IT in the D, a new partnership between the leading technology companies in downtown Detroit and local universities, announced its inaugural program designed to transition students from the classroom to the workplace through real world IT projects, 
              mentorship, and training<a href="http://detroit.cbslocal.com/2012/06/19/new-partership-it-in-the-d-connects-tech-students-with-mentors/" target="_blank">...Read more.</a></td>
          </tr>
          <tr>
              <td></td>
              <td><a href="http://engineering.wayne.edu/computing/IT-in-the-D.php" target="_blank">Wayne State's IT in the D Team</a></td>
              <td>IT in the D is a new partnership between Wayne State and leading technology companies in downtown Detroit and local universities. The program is designed to transition students from the classroom 
              to the workplace through real world IT projects, mentorship, and training. Its mission is to provide continued education and work experience for IT professionals as they advance their technology careers.
             <a href="http://engineering.wayne.edu/computing/IT-in-the-D.php" target="_blank">...Read more</a></td>
          </tr>
          
        
         
        </table>
		




</body>
</html>