@model ITinTheDWebSite.Models.Application

@{
    ViewBag.Title = "Index";
}
<h2>
    Application Form</h2>
<form action="" method="get">
Last Name
<input id="Text1" name="LastName" type="text" />
<br />
First name
<input id="Text1" type="text" />
<br />
Age
<input id="Text1" name="LastName" type="text" />
<br />
Middle Initial
<input id="Text1" name="LastName" type="text" />
<br />
Telephone #
<input id="Text1" name="LastName" type="text" />
<br />
<input id="Submit1" type="submit" value="submit" />
</form>
<form action="Profile/AddFile" enctype="multipart/form-data" method="post" />
<div>
    <fieldset>
        <legend>Upload File</legend>
        <br />
        <br />
        Upload Your Resume Here<input type="file" name="UploadFile" /><br />
        <br />
        <input type="submit" value="Save" /><br />
        <br />
        <br />
    </fieldset>
</div>
</form> 

