@model ITinTheDWebSite.Models.ApplyOnlineModel

@{
    ViewBag.Title = "Index";
}
<h2>Application Form</h2>

@using (Html.BeginForm("SubmitForm", "Apply Online", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   
   
    <fieldset>
     Please select a Transcript <input type="file" name="Transcript" />
     Please select a Resume <input type="file" name="Resume" />
    </fieldset>
    
    
    <input type="submit" value="Submit." />
}

